.App {
  text-align: center;
}
.login-page{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: stretch;
  gap: 10px;
}
.login-head{
  letter-spacing: 1px;
  margin-top: 100px;
}
.please{
  font-weight: 300;
  letter-spacing: 1px;
}
.icons{
  display: flex;
  flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.success{
  object-fit: cover;
  height: 250px;
  width: 250px;
 border-radius: 60%;
}
.failed{
  object-fit: cover;
  height: 200px;
  width: 200px;
 border-radius: 60%;
}